{% extends "base.html" %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block content %}
    <div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<form class="form-signin" method="post">
                    {{ form.hidden_tag() }}
					<h1 class="h3 mb-3 font-weight-normal text-center">Регистрация</h>
                    {{ form.email.label(class="sr-only")}}
                    {{ form.email(class="form-control", placeholder="Электронная почта")}}
                    {{ form.password.label(class="sr-only")}}
                    {{ form.password(class="form-control", placeholder="Пароль")}}
                    {{ form.confirm_password.label(class="sr-only")}}
                    {{ form.confirm_password(class="form-control", placeholder="Подтвердите пароль")}}
                    {% for field in [form.email, form.password, form.confirm_password] %}
                        <div class="error-message">{% if field.errors %}{{ field.errors[0] }}{% endif %}</div>
                    {% endfor %}
                    {% for message in get_flashed_messages() %}
                        <div class="error-message">{{ message }}</div>
                    {% endfor %}
                    {{ form.submit(class="btn btn-lg btn-primary btn-block mt-4", type="submit")}}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
