{% extends "base.html" %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block content %}
    <div class="mx-auto center_block birds-background" style="width: 560px;">
        <div style="margin-bottom: 200px;">
            <div class="container">
                <form class="form-signin" method="post">
                    {{ form.hidden_tag() }}
                    <h1 class="h3 mb-3 font-weight-normal text-center">Регистрация</h>
                    {{ form.email.label(class="sr-only")}}
                    {{ form.email(class="form-control", placeholder="Электронная почта", style="margin-bottom: 10px;")}}
                    {{ form.password.label(class="sr-only")}}
                    {{ form.password(class="form-control", placeholder="Пароль")}}
                    {{ form.confirm_password.label(class="sr-only")}}
                    {{ form.confirm_password(class="form-control", placeholder="Подтвердите пароль")}}
                    {% for field in [form.email, form.password, form.confirm_password] %}
                        <div class="error-message">{% if field.errors %}{{ field.errors[0] }}{% endif %}</div>
                    {% endfor %}
                    {% for message in get_flashed_messages() %}
                        <div class="error-message">{{ message }}</div>
                    {% endfor %}
                    {{ form.submit(class="btn btn-lg btn-info btn-block mt-4", type="submit")}}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
