{% extends "base.html" %}

{% block content %}
    <div class="mx-auto center_block birds-background" style="width: 560px;">
        <div style="margin-bottom: 200px;">
            <div class="container">
                <form action="/reset/{{ token }}" class="form-signin" method="post">
                    {{ form.hidden_tag() }}
                    <h1 class="h5 mb-2 font-weight-normal text-center">Введите новый пароль</h1>
                    <div class="form-floating mb-3">
                        {{ form.password.label(class="sr-only")}}
                        {{ form.password(class="form-control", placeholder="Пароль", style="margin-bottom: 10px;")}}
                        {{ form.confirm_password.label(class="sr-only")}}
                        {{ form.confirm_password(class="form-control", placeholder="Подтвердите пароль")}}
                    </div>
                    {{ form.submit(class="btn btn-lg btn-info btn-block mt-4", type="submit")}}
                    {% for field in [form.password, form.confirm_password] %}
                        <div class="error-message">{% if field.errors %}{{ field.errors[0] }}{% endif %}</div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}