body {
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    padding-top: 60px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}
.error-message {
    font-size: 18px;
    color: red;
    text-align: left;
}

.center_block {
    background-color: white; 
    padding-top: 20px;
}

/* messages styles */

.wrapper {
    text-align: right;
}

.message-block {
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 350px;
    border-radius: 10px;
    margin: 10px 0;
}
  
.message-block p {
    color: white;
    margin: 6px 10px;
}

.right-user {
    background-color: rgb(102, 152, 175);
}

.left-user {
    background-color: rgb(138, 138, 138);
}

#new-message {
    resize: none;
}

#main-chat {
    width: 450px;
    margin: auto;
}

#message-input {
    resize: none;
    margin: 15px 0px;
}

#message-input-block {
    width: 350px;
    margin: auto;
}

/* unanswered messages */

.unanswered_chat {
    background-color: rgb(196, 222, 231);
    margin: 15px auto;
    height: 50px;
    width: 450px;
}

.unanswered_message {
    padding: 13px 0 0 10px;
}


#delete-chat {
    float: right;
    text-decoration: none;
    color: black;
    font-size: 14px;
}