<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
                                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
        <link rel="icon" href="/static/favicon.ico">
        <script>
            const eventSource = new EventSource("/listen");
                document.addEventListener("DOMContentLoaded", () => {
                    eventSource.onmessage = (event) => {
                    const data = JSON.parse(event.data);
                    let amount_of_chats = data.len_chats;

                    const notify_form = document.querySelector("#notify_form");
                    const notify_btn = document.querySelector("#notify_btn");
                    const notify_li = document.querySelector("#notify_li");
                    if (amount_of_chats > 0) {
                        notify_li.removeAttribute("style");
                        notify_btn.setAttribute("style", "background-color: red; width: 30px; height: 30px; border-radius: 5px; font-size: 16px;");
                        notify_form.setAttribute("action", "{{ url_for('main.between_chat')}}");
                        notify_btn.innerHTML = amount_of_chats;
                    }
                }
            });
            window.addEventListener('beforeunload', () => {
                eventSource.close();
            });
        </script>
        {% block title %}
        <title>Chatter</title>
        {% endblock %}
    </head>

    <body>
        {% if current_user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Chatter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('main.index') }}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.profile') }}">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.all_chats') }}">Чаты</a>
                        </li>
                        <li id="notify_li" class="nav-item" style="display: none;">
                            <form id="notify_form">
                                <button id="notify_btn"></button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Chatter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('main.index') }}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Логин</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">Регистрация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto vh-100 center_block">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>