{% extends "base.html" %}

{% block title %}
    <title>Чат</title>
{% endblock %}

{% block content %}
    {% if no_users %}
        <h1>{{ no_users }}</h1>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            {% if message.sender_id == current_user.id %}
            <div class="container">
                <div class="card bg-lightorange rounded-3 m-3 ml-auto text-end">
                    <div class="card-body">
                        <p class="card-text">{{ message.text }}</p>
                    </div>
                </div>
            </div>  
            {% else %}
            <div class="container">
                <div class="card bg-lightorange rounded-3 m-3">
                    <div class="card-body">
                        <p class="card-text">{{ message.text }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% if not messages[-1].sender_id == current_user.id %}
            <form action="\send_message" method="post" class="custom-form">
                {{ form.hidden_tag() }}
                {{ form.msg_text.label(for="message-input")}}
                {{ form.msg_text(id="message-input")}}
                <br>
                {{ form.submit(type="submit", value="Отправить")}}
            </form> 
        {% endif %}
    {% endif %}
{% endblock %}
