{% extends "base.html" %}

{% block title %}
    <title>Chatter</title>
{% endblock %}

{% block content %}
    <div class="mx-auto center_block birds-background">
        <div style="margin-bottom: 200px;">
            {% if msg %}
                <p class="text-myinfo" style="font-size: 18px">Ваши сообщения уже ожидают ответа от новых пользователей. Проверьте чаттер позже, чтобы прочитать ответ</p>
                <a href="{{ url_for('main.replies') }}" style="text-decoration: none;">
                    <button type="button" class="btn btn-info" style="display: block; margin: auto;">К чатам</button>
                </a>
            {% elif current_user.id %}
                <form action="\" method="post" id="main-chat">
                    <div class="container">
                        <div class="form-group">
                            {{ form.hidden_tag() }}
                            {{ form.msg_text.label(for="new-message")}}
                            {{ form.msg_text(class="form-control", rows="5", id="new-message")}}
                            <br>
                            {{ form.submit(class="btn btn-info",type="submit", value="Отправить")}}
                        </div>
                    </div>
                </form>
            {% else %}
                <p class="text-myinfo">
                    Приветствую вас на моем сайте. Здесь вы сможете анонимно общаться самыми разнообразными людьми. 
                    Не бойтесь отправлять больше новых сообщений, рано или поздно их кто-то получит.
                </p>
                <p class="text-myinfo">
                    Сайт находиться в тестом режиме, поэтому некоторые функции могут работать некорректно. Также количество пользователей очень небольшое, поэтому не всегда
                    получиться пообщаться с кем-то в реальном времени. Поэтому советую вам время от времени проверять чаттер на новые сообщения. А если вам нравится, то можете поделиться
                    им с друзьями. 
                </p >
                <p class="text-myinfo">
                    Если вдруг вы нашли какой-то баг или у вас есть желание поделиться своим отзывом, можете написать мне в телеграмм 
                    @kormap или на почту chatterkz1@gmail.com. Буду благодарен :)
                </p>
                <p class="text-myinfo">Чтобы опробовать чаттер, вы можете зарегистрироваться или войти.</p>
                <div class="container">
                    <div style="margin: 15px 0">
                        <a href="{{ url_for('auth.login') }}" style="text-decoration: none;">
                            <button type="button" class="btn btn-info" style="display: block; margin: auto;">Войти</button>
                        </a>
                    </div>
                    <div style="margin: 15px 0">
                        <a href="{{ url_for('auth.register') }}" style="text-decoration: none;">
                            <button type="button" class="btn btn-info" style="display: block; margin: auto;">Зарегистрироваться</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}