{% extends "base.html" %}

{% block title %}
    <title>Chatter</title>
{% endblock %}

{% block content %}
    {% if msg %}
        <h1>{{ msg }}</h1>
    {% elif current_user.id %}
        <div class="container" style="max-width: 600px;">
            <form action="\" method="post" id="main-chat">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.msg_text.label(for="new-message")}}
                    {{ form.msg_text(class="form-control", rows="6", id="new-message")}}
                </div>
                {{ form.submit(class="btn btn-primary",type="submit", value="Отправить")}}
            </form>
        </div>
    {% else %}
        <h1>Зарегистрируйтесь или войдите в аккаунт, чтобы пользоваться сайтом</h1>
    {% endif %}
    
{% endblock %}