{% extends "base.html" %}

{% block title %}
    <title>Chatter</title>
{% endblock %}

{% block content %}
    {% if msg %}
        <h1>{{ msg }}</h1>
    {% elif current_user.id %}
        <form action="\" method="post" class="custom-form">
            {{ form.hidden_tag() }}
            {{ form.msg_text.label(for="message-input")}}
            {{ form.msg_text(id="message-input")}}
            <br>
            {{ form.submit(type="submit", value="Отправить")}}
        </form>
    {% else %}
        <h1>Зарегистрируйтесь или войдите в аккаунт, чтобы пользоваться сайтом</h1>
    {% endif %}
    
{% endblock %}